.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 1180px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
