.wrapper {
  position: relative;
  margin-bottom: 10px;
}

.testimonialtrack {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
}

.testimonialtrackinner {
  display: grid;
  grid-auto-columns: 100%;
  width: 100%;
  grid-auto-flow: column;
  white-space: nowrap;
  transition: transform 380ms ease-in-out;
}

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
  justify-content: flex-end;
  white-space: normal;
}

.testemonial__quote {
  max-width: 1036px;
  margin: 70px 0;
  text-align: center;
  white-space: normal;
  font-size: 2.2rem;
}

.testimonial__bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}

.testimonial__bio p {
  margin: 0.1rem 0;
  line-height: 2.2rem;
  text-align: center;
}

.testemonial__image {
  background-color: var(--primary);
  border-radius: 50%;
  overflow: hidden;
  width: 170px;
  height: 170px;
  position: relative;
  margin-bottom: 3rem;
}

.testimonial__arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  outline: none;
  transition: all 200ms;
  font-size: 3rem;
}

.testimonial__arrow__hidden {
  opacity: 0.3;
}

.testimonial__arrow__backward {
  left: 0;
}

.testimonial__arrow__forward {
  right: 0;
}

.testimonial__arrow__backward:focus > div, .testimonial__arrow__forward:focus > div {
  outline: 2px solid var(--primary);
}

.testimonial__arrow__backward:active > div, .testimonial__arrow__forward:active > div {
  outline: none;
}

@media screen and (max-width: 1520px) and (min-width: 1181px) {
  .testemonial__quote {
    max-width: 860px;
  }
}

@media screen and (max-width: 1180px) {
  .testimonial {
    padding-bottom: 60px;
  }

  .testimonialtrack {
    width: calc(100vw - 10vw);
  }

  .testemonial__quote {
    margin-top: 0px;
    margin-bottom: 50px;
  }

  .testemonial__image {
    width: 80px;
    height: 80px;
  }

  .testimonial__arrow {
    top: auto;
    bottom: 0px;
    height: 56px;
  }

  .testimonial__bio {
    margin-bottom: 0;
  }
}
