# Norwegian dev project and dataset
NEXT_PUBLIC_SANITY_PROJECT_ID=vf0df6h3
NEXT_PUBLIC_SANITY_DATASET=dev
SANITY_STUDIO_API_PROJECT_ID=vf0df6h3
SANITY_STUDIO_API_DATASET=dev

# Swedish production project and dataset
# NEXT_PUBLIC_SANITY_PROJECT_ID=9reyurp9
# NEXT_PUBLIC_SANITY_DATASET=production
# SANITY_STUDIO_API_PROJECT_ID=9reyurp9
# SANITY_STUDIO_API_DATASET=production

# Local API
NEXT_PUBLIC_EFFEKT_API=http://localhost:5050
SANITY_STUDIO_EFFEKT_API_URL=http://localhost:5050

# Swedish production API
# NEXT_PUBLIC_EFFEKT_API=https://api.geeffektivt.se
# SANITY_STUDIO_EFFEKT_API_URL=https://api.geeffektivt.se

# Danish dev API
# NEXT_PUBLIC_EFFEKT_API=https://dev-api.giveffektivt.dk
# SANITY_STUDIO_EFFEKT_API_URL=https://dev-api.giveffektivt.dk

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NODE_ENV=development

NEXT_PUBLIC_AUTH_DOMAIN=gieffektivt.eu.auth0.com
NEXT_PUBLIC_AUTH_CLIENT_ID=y70pumEKFogcX8wK28Fhmun0tlPx6q7B
NEXT_PUBLIC_AUTH_AUDIENCE=https://data.gieffektivt.no
NEXT_PUBLIC_AUTH_USER_ID_CLAIM=https://gieffektivt.no/user-id

# Swedish auth
# NEXT_PUBLIC_AUTH_DOMAIN=gieffektivt.eu.auth0.com
# NEXT_PUBLIC_AUTH_CLIENT_ID=y70pumEKFogcX8wK28Fhmun0tlPx6q7B
# NEXT_PUBLIC_AUTH_AUDIENCE=https://api.geeffektivt.se
# NEXT_PUBLIC_AUTH_USER_ID_CLAIM=https://geeffektivt.se/user-id


# CYPRESS_BASE_URL=http://localhost:3000
# CYPRESS_AUTH_DOMAIN=gieffektivt.eu.auth0.com
# CYPRESS_AUTH_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# CYPRESS_AUTH_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# CYPRESS_AUTH_AUDIENCE=XXXXXXXXXXXXXXXXXXXXXXXXXXX
# CYPRESS_AUTH_USERNAME=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# CYPRESS_AUTH_PASSWORD=XXXXXXXXXXXXXXXXXXX

KV_URL=""
KV_REST_API_READ_ONLY_TOKEN=""
KV_REST_API_TOKEN=""
KV_REST_API_URL=""
