.caption {
  cursor: pointer;
  user-select: none;
  font-size: 0.8rem;
  display: block;
  text-decoration: underline;
  position: relative;

  .cornerButton {
    position: absolute;
    top: 50px;
    right: 100px;
  }
}

.caption:hover {
  cursor: pointer;
  user-select: none;
  font-size: 0.8rem;
  display: block;
}
