.datepicker-input-wrapper {
  position: relative;
  display: inline-block;
}

.datepicker-input-wrapper input {
  padding: 12px 16px;
  border: none;
  background: var(--secondary);
  color: var(--primary);
  font-size: 12px;
  user-select: none;
  font-family: "ESKlarheitGrotesk";
  min-width: 150px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.datepicker-container {
  position: absolute;
  top: -240px;
  left: 50%;
  margin-left: calc(-280px / 2);
}

.datepicker-wrapper {
  width: 280px;
  height: 220px;
  background: var(--primary);
  display: block;
  color: var(--secondary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0px;
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
}

.datepicker-button {
  width: 60px;
  height: 60px;
  margin: 0px;
  border-radius: 50%;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}

.datepicker-button--selected {
  background: var(--secondary);
  color: var(--primary);
}

.datepicker-button:focus {
  outline: 2px solid var(--secondary);
}

.datepicker-button:active {
  outline: none;
}

.datepicker-last-row {
  grid-column-start: 1;
  grid-column-end: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.datepicker-button-last {
  height: 26px;
  color: var(--secondary);
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  padding: 8px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  border-radius: 13px;
}

.datepicker-button-last--selected {
  background: var(--secondary);
  color: var(--primary);
}

.datepicker-button-last:active {
  outline: none;
}

.datepicker-button-last:focus {
  outline: 2px solid var(--secondary);
}

@media only screen and (max-width: 1180px) {
  .datepicker-input-wrapper {
    position: static;
  }

  .datepicker-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
  }
}