.header {
  max-width: 1920px;
  position: relative;
  height: 30rem;
  width: 100%;
  width: 90vw;
  margin: 0 auto;

  .fundraiserimage {
    /* Round profile picture placed left bottom, slightly pushed down */
    position: absolute;
    bottom: -2rem;
    left: 2rem;
    border-radius: 50%;
    z-index: 2;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1180px) {
  .header {
    width: 100vw;
    height: 20rem;

    .fundraiserimage {
      width: 6rem;
      height: 6rem;
      bottom: -3rem;
      left: 5vw;
    }
  }
}
