.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  gap: 1rem;
}

.fundraiserBar {
  flex: 1;
  width: 100%;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    animation: shimmer 0.5s infinite;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(400%);
  }
}
