.organizationWrapper .organization:first-child {
  border-top: none;
  padding-top: 10px;
}

.organizationWrapper h5 {
  display: none;
}

.organizationWrapper h4 {
  display: block;
}

.organization {
  padding-top: 6rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  border-top: 1px solid var(--primary);
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 50px;
}

.intervention {
  display: flex;
  flex-direction: column;
}

.intervention h1 {
  margin: 0;
}

.interventionSubtitle {
  margin-bottom: 10em;
}

.buttonWrapper {
  display: flex;
  padding-top: 2rem;
}

@media only screen and (max-width: 1180px) {
  .organizationWrapper h5 {
    display: block;
  }

  .organizationWrapper h4 {
    display: none;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .organization {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 2rem;
  }

  .intervention {
    margin-top: 20px;
  }

  .interventionSubtitle {
    margin-bottom: 2em;
  }

  .organization:last-child {
    margin-bottom: 0;
  }
}
