.wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 1.5em;
  row-gap: 1em;
  width: 100%;
}

.share-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.share-wrapper > div {
  position: relative;
}

.share-wrapper > div span {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--primary);
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 0.65em;
}

.share-wrapper span {
  text-align: left;
}

.share-wrapper input {
  font-family: "ESKlarheitGrotesk";
  padding: 0.5em 1.2em;
  padding-right: 24px;
  border: none;
  color: var(--primary);
  background: var(--secondary);
  width: 5em;
  text-align: right;
  border-radius: 1.5em;
  border: 1px solid var(--primary);
  font-size: 1em;
}

.warning-box {
  padding: 0.5em 1.2em;
  font-size: 0.8em;
  margin-top: 1.5em;
  color: var(--secondary);
  background: var(--primary);
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.warning-box span {
  border-left: 1px solid var(--secondary);
  display: flex;
  padding-left: 1em;
  height: 100%;
  align-items: center;
  margin-left: 1em;
  font-weight: 600;
}

@media only screen and (max-width: 1180px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .warning-box {
    width: 100%;
    justify-content: space-between;
  }

  .share-wrapper {
    font-size: 1rem;
  }

  .share-wrapper input { 
    width: 6em;
  }
}
