.table {
  width: 100%;
  border-spacing: 0;
}

.table th {
  text-align: left;
}

.table tr td {
  margin-left: 0px;
  text-align: left;
  padding: 0.25rem 0rem;
}

.table .expandableRow {
  cursor: pointer;
}

.table .expandableRow + tr > td {
  padding: 0;
}

.table .expandableRow:hover {
  color: var(--secondary);
  background-color: var(--primary);

  svg.iconChevronUp polyline,
  svg.iconChevronDown polyline {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 20% 70%;
  justify-content: space-between;
  word-break: keep-all;
  margin-bottom: 100px;
}

.gridContainer section {
  border-top: 1px solid var(--primary);
  padding-top: 16px;
}

.gridContainer section.header h2 {
  margin: 0;
}

.gridContainer section.header p {
  margin: 0;
}

.gridContainer section.header p div {
  display: inline-block;
}

table td svg.iconChevronUp,
table td svg.iconChevronDown {
  cursor: pointer;
  transition: transform 120ms ease-in-out;
  user-select: none;
  filter: var(--primary-filter);
  float: right;
}

table td svg.iconChevronUp {
  transform: rotate(180deg);
}

table td svg.iconChevronDown {
  transition: transform 120ms ease-in-out;
}

table tr .detailRowCell {
  width: 100%;
}

.expanderContent {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.expanderContent .contextMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.expanderContent .contextMenu a {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.expanderContent .contextMenu a svg {
  margin-right: 5px;
}

@media only screen and (max-width: 1180px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .gridContainer section {
    border-top: none;
  }

  .gridContainer section.header {
    display: none;
  }

  .gridContainer tr th {
    padding-bottom: 16px;
  }

  .gridContainer tr td {
    padding-bottom: 4px;
  }

  /* Display only the three first columns */
  .gridContainer tr th,
  .gridContainer tr td {
    display: none;
  }

  .gridContainer tr th:nth-child(-n + 3),
  .gridContainer tr td:nth-child(-n + 3) {
    display: table-cell;
  }

  .gridContainer tr td:last-child {
    display: table-cell;
  }
}
