.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.values {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  column-gap: 1.5rem;
  font-size: 0.8rem;
}

.values > div {
  margin-top: 40px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  font-size: 14px;
}

.values > div:last-child {
  margin-bottom: 5px;
}

.values p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.sumInputLabel {
  position: absolute;
  right: 10px;
  color: var(--primary);
  pointer-events: none;
}

.values input {
  background: var(--secondary);
  color: var(--primary);
  font-family: "ESKlarheitGrotesk";
  box-sizing: border-box;
  font-size: 1em;
  border-radius: 1.5em;
  border: 1px solid var(--primary);
  padding: 0.5em 1.2em;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 1180px) {
  .values {
    grid-template-columns: 1fr;
    row-gap: 1.5em;
    font-size: 1rem;
  }

  .values input {
    width: 100%;
  }

  .values > div:last-child {
    justify-content: flex-start;
  }

  .actions {
    justify-content: space-between;

    button {
      margin-left: 0;
    }
  }

  .textWrapper h5 {
    margin: 3rem 0;
  }
}
