.button {
  border: none;
  border-radius: 48px;
  font-family: "ESKlarheitGrotesk";
  font-size: 20x;
  padding: 8px 18px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.buttonprimary {
  background: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.buttonprimary:focus {
  border: 1px solid var(--primary);
  outline: 2px solid var(--primary);
}

.buttonprimary:hover,
.buttonprimary:active {
  color: var(--primary);
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  outline: none;
}

.buttonsecondary {
  color: var(--primary);
  background: var(--secondary);
  /* !! dashed 1px is too small value 
  to match the aperance in the design criteria */
  border: 1px solid var(--primary);
}

.buttonsecondary:focus {
  border: 1px solid var(--primary);
  outline: 2px solid var(--primary);
}

.buttonsecondary:hover,
.buttonsecondary:active {
  color: var(--secondary);
  background-color: var(--primary);
  /* !! dashed 1px is too small value 
  to match the aperance in the design criteria */
  border: 1px solid var(--secondary);
  outline: none;
}

.buttonsecondary--selected {
  color: var(--secondary);
  background-color: var(--primary);
}


.buttontertiary {
  color: var(--secondary);
  background-color: var(--primary);
  /* !! dashed 1px is too small value 
  to match the aperance in the design criteria */
  border: 1px dashed var(--secondary);
  outline: none;
}

.buttontertiary:hover,
.buttontertiary:active,
.buttontertiary:focus {
  color: var(--primary);
  background-color: var(--secondary);
  /* !! dashed 1px is too small value 
  to match the aperance in the design criteria */
  border: 1px dashed var(--primary);
}

.selected {
  color: var(--secondary);
  background-color: var(--primary);
  border: 1px solid var(--secondary);
}

.button__squared {
  border-radius: 10px;
}

.extraMargin {
  margin-left: 25px;
}

@media only screen and (max-width: 1180px) {
  .button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1520px) and (min-width: 1181px) {
  .button {
    font-size: 14px;
  }
}