.blockTable {
  position: relative;
  width: 100%;

  &.column {
    max-width: 760px;

    &.hasTitle {
      .titles {
        width: 100%;
        padding-bottom: 3rem;
      }
    }
  }

  &.full {
    max-width: 100%;

    &.hasTitle {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 3rem;

      .titles {
        border-top: 1px solid var(--primary);
        width: 100%;
      }
    }
  }

  &.fixed {
    max-width: 100%;
  }

  .outerContents {
    position: relative;
    width: 100%;
    overflow-x: hidden;

    .contents {
      overflow-x: auto;
      width: 100%;
      max-width: 100%;
      position: relative;

      /* Scrollbar styling */
      &::-webkit-scrollbar {
        background-color: transparent;
        height: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      table {
        border-top: 1px solid var(--primary);
        width: 100%;
        white-space: nowrap;

        thead {
          tr {
            th {
              text-align: right;
              font-weight: normal;
              font-size: 1.1rem;
              padding: 0.75rem 0rem;
            }

            th:first-child {
              text-align: left;
            }
          }
        }

        tbody {
          tr {
            td {
              text-align: right;
              padding: 0.25rem 0rem;
            }

            td:first-child {
              text-align: left;
            }
          }

          &.lastRow {
            tr {
              td {
                border-top: 1px solid var(--primary);
              }
            }
          }

          &.secondLastRow {
            tr {
              td {
                padding-bottom: 1.5rem;
              }
            }
          }
        }
      }
    }

    .scrollRightButton {
      position: absolute;
      right: 0;
      top: 0;
      width: 3rem;
      height: 100%;
      display: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--secondary) 100%);

      span {
        transition: transform 0.3s ease;
      }
    }

    &.hasScroll {
      .scrollRightButton {
        display: flex;
      }
    }

    &.hasScrolled {
      .scrollRightButton {
        opacity: 0;

        span {
          transform: translateX(1rem);
        }
      }
    }

    .caption {
      font-size: 0.8rem;
      margin-top: 1rem;
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 1520px) and (min-width: 1181px) {
  .blockTable {
    &.column {
      max-width: 640px;
    }
  }
}

@media only screen and (max-width: 1180px) {
  .blockTable {
    &.full {
      &.hasTitle {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;

        .titles {
          border-top: none;
        }
      }

      .contents {
        width: calc(100% + 10vw);
        margin-left: -5vw;
        padding-left: 5vw;
        padding-right: 5vw;
      }
    }
  }
}
