.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.person {
  border-left: 1px solid var(--primary);
  padding: 20px;
  line-height: 200%;
}

@media only screen and (max-width: 900px) {  
  .grid {
    display: flex;
    flex-direction: column;
  }

  .person {
    margin-bottom: 20px;
  }
}