.ingress__container {
  border-top: solid 0.5px var(--primary);
  padding-top: 8.375rem;
  margin-bottom: 8.375rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2rem;
}

.links {
  grid-column: 1 / span 1;
}

.ingress,
.maincontent {
  grid-column: 2 / span 1;
}

.ingress {
  font-size: 1.75rem;
}

@media (max-width: 37.25rem) {
  .ingress__container {
    grid-template-columns: 1fr;
  }

  .links {
    grid-column: 1 / span 1;
  }

  .ingress,
  .maincontent {
    grid-column: 1 / span 1;
  }
}
