.wrapper {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 30px;
  padding: 30px 0;
  
}

.distribtion {

}

.values {

}

.values input {
  height: 35px;
  padding-left: 16px;
  border: none;
  background: white;
  color: black;
  font-size: 12px;
  font-family: "ESKlarheitGrotesk";
  min-width: 150px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 150px;
}

.actions {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 26px;
}

.actions .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  background: white;
  width: 150px;
  height: 35px;
  text-align: center;
  font-weight: 500;
  margin-left: 10px;
  font-size: 12px;
  box-sizing: border-box;
}