.wrapper {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 30px;
  padding: 30px 0;
}

.values input {
  height: 35px;
  padding-left: 16px;
  border: none;
  background: var(--secondary);
  color: var(--primary);
  font-size: 12px;
  font-family: "ESKlarheitGrotesk";
  min-width: 150px;
  box-sizing: border-box;
  width: 150px;
  border-radius: 30px;
  border: 1px solid var(--primary);
}

.actions {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 26px;
}

.actions .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  background: var(--primary);
  color: var(--secondary);
  width: 150px;
  height: 35px;
  text-align: center;
  font-weight: 500;
  margin-left: 10px;
  font-size: 12px;
  box-sizing: border-box;
}

.values {
  display: grid;
  grid-template-rows: 20px;
  row-gap: 25px;
  box-sizing: border-box;
}

.values > div {
  position: relative;
  /* margin-bottom: 10px; */
}

.values > div span {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--primary);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  margin-top: 10px;
  font-size: 12px;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .values {
    margin-top: 25px;
  }

  .values input {
    width: 100%;
  }

  .actions {
    justify-content: space-between;
  }

  .actions .button {
    margin-left: 0;
  }
}
