.contributors {
  border-top: solid 1px var(--primary);
  padding-top: 4.625rem;
  margin-bottom: 4rem;
  width: 100%;
}

.contributors__title {
  align-self: flex-start;
  font-size: 2.25rem;
  line-height: 1.278;
}

.contributors__list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 3rem;
  width: 100%;
}
@media (max-width: 56.25rem) {
  .contributors__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 37.25rem) {
  .contributors__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 25rem) {
  .contributors__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
