.contributor {
  display: flex;
  flex-direction: column;
}

.contributor__image {
  width: 100%;
  position: relative;
  aspect-ratio: 24/31;
}

.contributor__title {
  margin-top: 0.9375rem;
  margin-bottom: 0.375rem;
}

.contributor__subrole {
  margin-bottom: 6px;
}

.contributor__subrole,
.contributor__additional {
  margin-top: 4px;
  word-break: break-word;
  white-space: pre-wrap;
}

.contributor__email {
  padding-top: 8px;
  margin-top: auto;
  justify-self: flex-end;
  word-break: break-word;
}

@media (max-width: 900px) {
  .contributor__title {
  }
  .contributor__subrole,
  .contributor__additional {
  }

  .contributor__email {
    /* Mobile smallsize */
    font-size: 12px;
  }
}
