.container {
  background-color: #000;
  color: #fafafa;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 2100px;
  margin: 0 auto;
  align-items: center;
  padding: 0 5vw;
  width: 100%;
}

.content > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content > div span {
  margin-right: 60px;
}

.content button {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 1180px) {
  .content {
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .content > div {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1920px) {
  .content {
    max-width: 1714px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
