.center-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.konduit-button {
  border: none;
  background: white;
  padding: 14px 26px;
  font-family: "ESKlarheitGrotesk";
  cursor: pointer;
}

.datepicker-wrapper {
  width: 280px;
  height: 220px;
  background: white;
  display: block;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
}

.datepicker-button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
}

.datepicker-button--selected {
  background: black;
  color: white;
}

.datepicker-last-row {
  grid-column-start: 1;
  grid-column-end: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.datepicker-button-last {
  height: 26px;
  color: black;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  padding: 8px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  border-radius: 13px;
}

.datepicker-button-last--selected {
  background: black;
  color: white;
}