.center-wrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.konduit-button {
  border: none;
  background: var(--primary);
  color: var(--secondary);
  padding: 14px 26px;
  font-family: "ESKlarheitGrotesk";
  cursor: pointer;
}

.datepicker-input-wrapper {
  position: relative;
  display: inline-block;
}

.datepicker-input-wrapper input {
  padding: 12px 16px;
  border: none;
  background: var(--secondary);
  color: var(--primary);
  font-size: 12px;
  user-select: none;
  font-family: "ESKlarheitGrotesk";
  min-width: 150px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.datepicker-container {
  position: absolute;
  top: -240px;
  left: 50%;
  margin-left: calc(-280px / 2);
}

.datepicker-wrapper {
  width: 280px;
  height: 220px;
  background: var(--primary);
  display: block;
  color: var(--secondary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 30px 20px 20px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
}

.datepicker-button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
}

.datepicker-button--selected {
  background: var(--secondary);
  color: var(--primary);
}

.datepicker-last-row {
  grid-column-start: 1;
  grid-column-end: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.datepicker-button-last {
  height: 26px;
  color: var(--secondary);
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  padding: 8px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  border-radius: 13px;
}

.datepicker-button-last--selected {
  background: var(--secondary);
  color: var(--primary);
}

.activity-indicator-wrapper {
  transition: all 200ms ease-in-out;
  transform: translateY(-20px);
  opacity: 0;
  position: fixed;
  top: 48px;
  left: 50%;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  background: var(--primary);
  border-radius: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-indicator-wrapper--active {
  transform: translateY(0);
  opacity: 1;
}

.activity-indicator-wrapper > div {
  transform: scale(0.3);
  transform-origin: center center;
}

.activity-indicator-wrapper > div:after {
  border-color: var(--secondary) transparent var(--secondary) transparent;
  margin: 2px;
}

.button {
  border: none;
  border-radius: 48px;
  font-family: "ESKlarheitGrotesk";
  font-size: 14px;
  padding: 14px 28px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 10px;
}

.buttonprimary {
  background: var(--primary);
  color: var(--secondary);
  outline-offset: -1px;
}

.buttonprimary:hover,
.buttonprimary:active {
  background: var(--primary-hover);
}

.buttonsecondary {
  color: var(--primary);
  background: var(--secondary);
  /* !! dashed 1px is too small value 
  to match the aperance in the design criteria */
  border: 2px solid var(--primary);
}

.buttonsecondary:hover,
.buttonsecondary:active {
  color: var(--secondary-hover);
  /* !! dashed 1px is too small value 
  to match the aperance in the design criteria */
  border: 2px solid var(--secondary-hover);
}

.buttontertiary {
  border: none;
  background-color: transparent;
  /* !! dashed 1px is too small value 
  to match the aperance in the design criteria */
  outline: 2px dashed var(--primary);
  outline-offset: -1px;
}

.buttontertiary:hover {
  border: none;
  outline: 2px dashed #555;
  color: var(--secondary-hover);
}

.buttontertiary:focus,
.buttonprimary:focus,
.buttonsecondary:focus {
  border: none;
  outline-color: var(--focus);
}

.button__squared {
  border-radius: 3px;
}

.teaser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  min-height: 520px;
}

.teaserimage {
  background: var(--primary);
  position: relative;
}

.teasertext {
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  max-width: 90%;
  align-items: flex-start;
}

.teasertext h2 {
  font-size: 36px;
}

.teasertext p {
  font-size: 20px;
  font-weight: normal;
  line-height: 180%;
  white-space: pre-wrap;
}

.teasertext button {
  margin-left: 0;
}

.pointlistwrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 20px;
  width: 100%;
  margin: 80px 0;
}

.pointlistpoint {
  border-top: 1px solid black;
  display: flex;
  column-gap: 18px;
  padding-right: 20%;
}

.pointlistpoint div:nth-child(2) {
  flex-grow: 1;
}

.introsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  width: 100%;
}

.introsection p {
  white-space: pre-wrap;
  padding-right: 20%;
}

.introsection h2 {
  margin-top: 0;
  font-size: 46px;
  white-space: pre-wrap;
}

.calculatorteaser {
  text-align: center;
}

.calculatorteaser h2 {
  font-size: 48px;
}

.calculatorteaser p {
  font-size: 20px;
}

.expanderWrapper {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.expanderHeader {
  padding: 20px 0;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.expanderHeader:focus-within,
.expanderHeader:focus-within {
  outline: 2px solid black;
}

.expanderHeader h2 {
  margin: 0;
}

.links {
  list-style: none;
  padding-left: 0;
}

.links li {
  padding: 4px 0px;
}

.widgetPane {
  width: 40vw;
  background: var(--primary);
  border-left: 1px solid var(--secondary);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(40vw) translateX(250px);
  transition: transform 500ms cubic-bezier(0.25, 0.72, 0.24, 1);
  z-index: 10000;
  color: var(--secondary);
}

.widgetPaneOpen {
  transform: translateX(0);
}

.widgetCloseBtn {
  cursor: pointer;
}

.widgetCloseBtn:hover {
  opacity: 0.8;
}

.widgetPaneHeader {
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.widgetPaneContent {
  padding: 20px;
}

.pageContent {
  padding: 0 5vw;
}

.paragraphwrapper {
  max-width: 660px;
  line-height: 180%;
  font-size: 16px;
}

.paragraphwrapper h2 {
  margin-bottom: 45px;
}

.videocontainer {
  margin-top: 100px;
  width: 100%;
}

.videocontainer iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .datepicker-input-wrapper {
    position: static;
  }

  .datepicker-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
  }

  .teaser {
    height: auto;
    min-height: auto;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    width: 100%;
    margin-bottom: 40px;
  }

  .teaserimage {
    grid-row: 1;
    aspect-ratio: 4 / 3;
  }

  .teasertext {
    padding: 20px 0px;
    max-width: auto;
    grid-row: 2;
  }

  .pointlistwrapper {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    width: 100%;
    margin-bottom: 30px;
  }

  .introsection {
    grid-template-columns: auto;
    grid-template-rows: max-content 1fr;
    padding: 40px 0;
  }

  .introsection p {
    padding-right: 0;
    line-height: 200%;
  }

  .widgetPane {
    min-width: auto;
    width: 100vw;
    max-width: 100vw;
    transform: translateX(0);
    transform: translateY(100vh) translateY(200px);
    border-width: 0;
  }

  .widgetPaneOpen {
    transform: translateY(0px);
  }

  .widgetPaneHeader {
    padding: 20px 5vw;
  }
}

@media only screen and (min-width: 1920px) {
  .pageContent {
    max-width: 1714px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
