.grid {
  border-top: solid 1px var(--primary);
  margin-top: 60px;
  font-family: "ESKlarheitGrotesk", sans-serif;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, max-content);
  column-gap: 50px;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
  color: var(--primary);
  margin-left: 5vw;
  margin-right: 5vw;
}

.category h3 {
  font-family: "ESKlarheitGrotesk", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}

.category ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.category ul li,
.category ul li a {
  line-height: 28px;
  font-size: 18px;
}

.category ul li a:hover {
  border-bottom: 1px solid var(--primary);
}

.logo__bottom {
  grid-row: 1/3;
}

.logo__bottom figure {
  padding-right: 20px;
  margin: 0;
}

.logo__bottom figure p {
  line-height: 240px;
  font-size: 300px;
  margin: 0;
  color: var(--primary);
  font-family: "ESKlarheitKurrent";
}

/** -----News Letter Signup--------*/
.newsletter {
  grid-column: 2 / 5;
}

.newsletter fieldset {
  border: none;
  padding: 0;
}

.newsletter_label {
  font-size: 18px;
}

.input__inlinebutton {
  margin-top: 14px;
  max-width: 360px;
  position: relative;
}
.input__inlinebutton input {
  font-size: 14px;
  border: none;
}

.input__inlinebutton input[type="email"] {
  padding: 14px 22px;
  box-sizing: border-box;
  border-radius: 50px;
  width: 100%;
  background-color: var(--secondary);
  border: solid 1px var(--primary);
}

.input__inlinebutton button {
  position: absolute;
  letter-spacing: 1px;
  height: 100%;
  padding: 0px 22px;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 14px;
}

.input__inlinebutton input[type="submit"]:hover {
  color: var(--primary-hover);
}

.newsletter input[type="email"] {
  background: var(--secondary);
  color: var(--primary);
  font-family: "ESKlarheitGrotesk", sans-serif;
}

.newsletter__input {
  background: var(--secondary);
  font-family: "ESKlarheitGrotesk", sans-serif;
  color: var(--primary);
  border: none;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    grid-row-gap: 50px;
    padding-top: 60px;
    margin-top: 50px;
    font-size: 18px;
  }

  .newsletter {
    grid-column: 1 / 3;
  }

  .input__inlinebutton {
    max-width: initial;
  }

  .logo__bottom {
    grid-row: auto;
    grid-column: 1 / 3;
  }

  .logo__bottom figure p {
    font-size: 180px;
    line-height: 140px;
  }
}

@media only screen and (min-width: 1920px) {
  .grid {
    max-width: 1714px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
