.gibutton {
  cursor: pointer;
  position: fixed;
  right: 5vw;
  bottom: 60px;
  z-index: 100;
  background: var(--primary);
  border: 1px solid var(--secondary);
  font-size: 38px;
  font-family: "ESKlarheitKurrent";
  font-weight: 400;
  color: var(--secondary);
  padding: 16px;
  border-radius: 50%;
  user-select: none;
}

.gibutton:hover,
.gibutton:active {
  background: #222;
}

@media only screen and (max-width: 900px) {
  .gibutton {
    font-size: 16px;
  }
}
