.donations__widget {
  background-color: black;
  width: 400px;
  /* border: solid 1px black; */
  border: solid 1px var(--primary);

  padding: 2em;
}

.donations__widget button {
  position: relative;
  background-color: black;
  color: #fff;
  font-size: 2em;
  padding: 0.5em 1.5em;
  text-align: left;
  margin-bottom: 0.2em;
  /* border: solid 1px black; */
  border: solid 1px white;
}

.donations__widget button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-image: url('.../../../public/arrowwhite.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 100%;
  transform-origin: center;
  transform: translateY(27%);
}

.donations__widget button:hover,
.donations__widget button:focus {
  /* outline: solid 3px salmon; */
  background-color: #333333;
  cursor: pointer;
}

.donationtype {
  margin-bottom: 1em;
}

.donations__widget input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;

  margin: 0 0.5em 0 0;
  cursor: pointer;
  color: black;
  font: inherit;
  color: black;
  width: 1em;
  height: 1em;
  border: 3px solid black;
  border-radius: 50%;
}

.donations__widget label {
  font-size: 1.6em;
  display: flex;
  align-items: center;
  color: #fff;
}

.paymethod {
  display: flex;
  flex-direction: column;
}

.paymethod__btn {
  min-height: 2.5em;
}

.bank {
  position: relative;
}
.bank:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 150px;
  top: 0;
  background-image: url('.../../../public/avtalegiro.91a76318.jpeg');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 0 0px;
  transform: translate(20px, 27px);
  transform-origin: center;
}
.vipps {
  background-image: url('https://storage.googleapis.com/effekt-widget/assets/logos/vipps.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 1.3em 25px;
}
.paypal {
  position: relative;
  background-image: url('https://storage.googleapis.com/effekt-widget/assets/logos/PayPal.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 1.3em 25px;
}

.paypal:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 150px;
  top: 0;
  /* background-image: url('.../../../public/accepted_cards.926b29f5.jpeg'); */
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 0 0px;
  transform: translate(20px, 6px);
  transform-origin: right;
}
