.hero {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 10vh;
  margin: 0 5vw;
}

.header h1 {
  margin-top: 0;
  font-size: 100px;
  max-width: 70%;
  margin-bottom: 16px;
  line-height: 120%;
  font-weight: 400;
}

.action {
  width: 380px;
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  .hero {
    height: calc(100vh - 120px);
    justify-content: flex-end;
  }

  .header h1 {
    font-size: 60px;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .action {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
  }
}
