.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin-top: 80px;
}

.hero {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 20%;
}

.hero h1 {
  font-size: 70px;
}

.action {
  padding-top: 60px;
  font-size: 20px;
}

.info {
  border-top: 1px solid white;
  padding: 30px 0 50px 0;
  font-size: 32px;
  font-family: "ESKlarheitKurrent", sans-serif;
}