.hero {
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 5vw;
  padding-bottom: 10vh;
  margin: 0 auto;
}

.header h1 {
  margin-top: 0;
  font-size: 120px;
  max-width: 1000px;
  margin-bottom: 22px;
  line-height: 110%;
  font-weight: 400;
}

.subheading {
  width: 430px;
  font-weight: 400;
}

.salespitchWrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5vw;
}

.teasers {
  width: 100%;
}

.teasers > div:nth-child(2n) > div:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.teasers > div:nth-child(2n) > div:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
}

.teasers > div:nth-child(2n) > div:nth-child(2) {
  padding-left: 40px;
  padding-right: 260px;
}

@media only screen and (max-width: 1180px) {
  .hero {
    height: calc(100vh - 240px);
    justify-content: flex-end;
  }

  .header h1 {
    max-width: 300px;
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 56px;
  }

  p.subheading {
    max-width: 230px;
    font-size: 16px;
    line-height: 26px;
  }

  .teasers div:nth-child(2n) > div:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }

  .teasers div:nth-child(2n) > div:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }

  .teasers > div:nth-child(2n) > div:nth-child(2) {
    padding: 0;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 1520px) and (min-width: 1181px) {
  .header h1 {
    font-size: 80px;
    line-height: 110%;
    max-width: 700px;
    margin-bottom: 0;
    margin-top: 80px;
  }

  .teasers > div:nth-child(2n) > div:nth-child(2) {
    padding-right: 160px;
  }
}

@media only screen and (min-width: 1920px) {
  .hero {
    max-width: 1714px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .salespitchWrapper {
    max-width: 1714px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
