.container {
  padding: 0 0;
  margin: 0 auto;
  padding-top: 165px;
}

.modalOpen {
  overflow: hidden;
}

.main {
  min-height: 60vh;
  color: var(--primary);
  background: var(--secondary);
}

.dark {
  --primary: white;
  --secondary: black;
  --primary-filter: invert(1);
  --primary-hover: #ccc;
  background: var(--secondary);
}
