.lightbox {
    background-color: white;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    min-height: 50vh;
    margin-top: -25vh;
    margin-left: -50vh;
    padding: 5px 20px 20px 20px;
}

.button {
    background: black;
    box-shadow: none;
    color: white;
    font-family: "ESKlarheitGrotesk";
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    width: 130px;
}

.button1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.button2 {
    position: absolute;
    right: 150px;
    bottom: 0;
}