.table {
  width: 100%;
  font-size: 14px;
}

.table th {
  text-align: left;
}

.table td {
  margin-left: 0px;
  text-align: left;
}

.table td:last-child {
  text-align: right;
}

.gridContainer {
  display: grid;
  grid-template-columns: 20% 70%;
  justify-content: space-between;
  word-break:keep-all;
  margin-bottom: 100px;
}

.gridContainer section {
  border-top: 1px solid white;
  padding-top: 16px;
}

.gridContainer section.header h2 {
  margin: 0;
  font-size: 36px;
}

.gridContainer section.header p {
  margin: 0;
  font-size: 12px;
}

.gridContainer section.header p div {
  display: inline-block;
}

table td.collapsed, table td.expanded { 
  transition: all 300ms ease-in-out;
  overflow: hidden;
  position: relative;
}

table td.collapsed {
  height: 0;
  padding: 0;
  opacity: 0;
}

table td.expanded {
  height: 200px;
  opacity: 1;
}

table td svg.iconChevronUp {
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  transform: rotate(180deg);
  user-select: none;
}

table td svg.iconChevronDown {
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  user-select: none;
}

.expanderContent {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.expanderContent .contextMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.expanderContent .contextMenu a {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.expanderContent .contextMenu a svg {
  margin-right: 5px;
}