.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 5vw;
  max-width: 1920px;
  transition: padding 200ms ease-in-out;
  margin: 0 auto;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  cursor: default;
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 18px;
  position: relative;
}

.navbar ul li:last-child {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0px;
}

.navbar ul li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--secondary);
  display: none;
  padding-bottom: 20px;
}

.navbar ul li:hover .submenu,
.navbar ul li.expandedSubmenu .submenu {
  display: block;
}

.navbar ul li .submenu ul li {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  display: block;
}

.btnlogin {
  background: var(--secondary);
  box-shadow: none;
  padding: 8px 18px;
  color: var(--primary);
  font-family: "ESKlarheitGrotesk";
  border: 1px solid var(--primary);
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 30px;
}

.navbar ul li.btnlogin:hover {
  background: var(--primary-hover);
}

.navbar ul li .submenu ul li {
  padding-bottom: 0;
}

.navbar a.icon {
  display: none;
}

.expandBtn {
  display: none;
}

.navbar .logoWrapper {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 35px;
  width: 250px;
  position: relative;
  filter: var(--primary-filter);
}

.navbar ul li.expandedSubmenu button::after {
  content: "↓";
  display: inline-block;
  margin-left: 10px;
}

.navbar ul li.collapsedSubmenu button::after {
  content: "↓";
  display: inline-block;
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }

  .navbarExpanded {
    --primary: #fafafa;
    --secondary: #000;
    background: var(--secondary);
    color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .navbarShrinked {
    padding: 20px 5vw;
  }

  .expandBtn {
    display: flex;
  }

  .navbar .logoWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .navbar .logoWrapperImage {
    height: 25px;
    width: 160px;
    position: relative;
  }

  .navbar ul {
    display: none;
  }

  .navbarExpanded > ul {
    padding: 0;
    flex-grow: 1;
    width: 100%;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
  }

  .navbarExpanded .logoWrapper {
    filter: var(--primary-filter) invert(1);
  }

  .navbar ul li {
    display: block;
    font-size: 20px;
    padding: 0;
    margin-top: 14px;
  }

  .navbar ul li .submenu {
    display: block;
    position: static;
    flex-grow: 1;
    width: 100%;
    padding-left: 10px;
    background: none;
    padding-bottom: 10px;
  }

  .navbarExpanded ul li .submenu ul {
    display: block;
  }

  .navbar ul li.expandedSubmenu button::after {
    transform: rotate(180deg);
    transition: 180ms all;
  }

  .navbar ul li.collapsedSubmenu button::after {
    transform: rotate(0deg);
    transition: 180ms all;
  }

  /* Style navigation menu links */
  .navbar Link {
    color: var(--primary);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }

  /* Style the active link (or home/logo) */
  .active {
    color: var(--primary);
  }

  .close {
    font-size: 46px;
    font-weight: bold;
  }

  .hide {
    display: none;
  }

  .navbar ul li.btnLogoutWrapper {
    justify-self: flex-end;
    margin-top: auto;
  }

  .navbar ul li.buttonsWrapper {
    margin-left: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }

  .navbar ul li .btnlogin {
    background: var(--secondary);
    color: var(--primary);
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 900px) {
  .navbar ul li > div {
    height: auto !important;
    opacity: 1 !important;
    overflow: visible !important;
  }

  .navbar ul li > div > div {
    display: block !important;
    opacity: 1 !important;
  }
}

@media only screen and (min-width: 1920px) {
  .navbar {
    max-width: 1714px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
