.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 5vw;
  background-color: var(--secondary);
  transition: padding 200ms ease-in-out;
}

.navbarShrinked {
  padding: 4px 5vw;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  cursor: default;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
  position: relative;
}

.navbar ul li.btnlogout {
  padding: 0;
  margin-left: 20px;
}

.navbar ul li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--secondary);
  display: none;
  padding-bottom: 20px;
}

.navbar ul li:hover .submenu {
  display: block;
}

.navbar ul li .submenu ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.btnlogout button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--secondary);
  background: var(--primary);
  box-shadow: none;
  font-family: "ESKlarheitGrotesk";
  border: none;
  font-size: 1em;
}

.btnlogin {
  background: none;
  box-shadow: none;
  padding: 10px 20px;
  color: var(--secondary);
  background: var(--primary);
  font-family: "ESKlarheitGrotesk";
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
}

.navbar ul li.btnlogin:hover {
  background: var(--primary-hover);
}

.navbar ul li .submenu ul li {
  padding-bottom: 0;
}

.navbar a.icon {
  display: none;
}

.expandBtn {
  display: none;
}

.navbar .logoWrapper {
  color: var(--primary);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar ul li.expandedSubmenu span::after {
  content: "↓";
  display: inline-block;
  margin-left: 10px;
}

.navbar ul li.collapsedSubmenu span::after {
  content: "↓";
  display: inline-block;
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .navbarExpanded {
    background: var(--primary);
    color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .expandBtn {
    display: block;
  }

  .navbar .logoWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .navbar ul {
    display: none;
  }

  .navbarExpanded > ul {
    padding: 0;
    flex-grow: 1;
    width: 100%;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .navbarExpanded .logoWrapper {
    filter: invert(1);
  }

  .navbar ul li {
    display: block;
    font-size: 20px;
    padding: 0;
    margin-top: 14px;
  }

  .navbar ul li .submenu {
    display: block;
    position: static;
    flex-grow: 1;
    width: 100%;
    padding-left: 10px;
    background: none;
    padding-bottom: 10px;
  }

  .navbarExpanded ul li .submenu ul {
    display: block;
  }

  .navbar ul li.expandedSubmenu span::after {
    transform: rotate(180deg);
    transition: 180ms all;
  }

  .navbar ul li.collapsedSubmenu span::after {
    transform: rotate(0deg);
    transition: 180ms all;
  }

  /* Style navigation menu links */
  .navbar Link {
    color: var(--primary);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }

  /* Style the active link (or home/logo) */
  .active {
    color: var(--primary);
  }

  .close {
    font-size: 46px;
    font-weight: bold;
  }

  .hide {
    display: none;
  }

  .navbar ul li.btnlogin {
    margin-left: 0;
    background: var(--secondary);
    color: var(--primary);
    padding: 10px 20px;
    border-radius: 30px;
    align-self: flex-start;
    position: absolute;
    bottom: 50px;
  }

  .navbarExpanded ul li.btnlogout {
    margin-left: 0;
    align-self: flex-start;
    position: absolute;
    bottom: 50px;
  }

  .navbarExpanded ul li.btnlogout button {
    border-radius: 24px;
  }

  .navbarExpanded ul li.btnlogout button {
    background: var(--secondary);
    color: var(--primary);
  }
}

@media only screen and (min-width: 900px) {
  .navbar ul li > div {
    height: auto !important;
    opacity: 1 !important;
    overflow: visible !important;
  }

  .navbar ul li > div > div {
    display: block !important;
    opacity: 1 !important;
  }
}
