.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul li:last-child {
  padding-right: 0px;
}

.btnlogout {
  background: none;
  box-shadow: none;
  color: white;
  font-family: "ESKlarheitGrotesk";
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
}

.navbar a.icon {
  display: none;
}

.expandBtn {
  display: none;
}

@media only screen and (max-width: 900px) {
  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 5vw;
  }

  .expandBtn {
    display: block;
  }

  .navbar .logoWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .navbar ul {
    display: none;
  }

  .navbarExpanded ul {
    padding: 0;
    flex-grow: 1;
    width: 100%;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .navbar ul li {
    display: block;
    font-size: 28px;
    padding: 0;
  }
  
  /* Style navigation menu links */
  .navbar Link {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .close {
    font-size: 46px;
    font-weight: bold;
  }

  .hide {
    display: none;
  }

  .navbarExpanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}