.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 40px 5vw;
  background-color: var(--secondary);
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul li.btnlogout {
  padding: 0;
  margin-left: 20px;
}

.btnlogout button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--secondary);
  background: var(--primary);
  box-shadow: none;
  font-family: 'ESKlarheitGrotesk';
  border: none;
  font-size: 1em;
}

.btnlogin {
  background: none;
  box-shadow: none;
  color: var(--secondary);
  background: var(--primary);
  font-family: 'ESKlarheitGrotesk';
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 20px;
}

.navbar a.icon {
  display: none;
}

.expandBtn {
  display: none;
}

.navbar .logoWrapper {
  color: var(--primary);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 900px) {
  .navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 30px;
  }

  .navbarExpanded {
    background: var(--primary);
    color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .expandBtn {
    display: block;
  }

  .navbar .logoWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .navbar ul {
    display: none;
  }

  .navbarExpanded ul {
    padding: 0;
    flex-grow: 1;
    width: 100%;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 100px;
  }

  .navbarExpanded .logoWrapper {
    filter: invert(1);
  }

  .navbar ul li {
    display: block;
    font-size: 20px;
    padding: 0;
  }

  /* Style navigation menu links */
  .navbar Link {
    color: var(--primary);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }

  /* Style the active link (or home/logo) */
  .active {
    color: var(--primary);
  }

  .close {
    font-size: 46px;
    font-weight: bold;
  }

  .hide {
    display: none;
  }

  .navbar ul li.btnlogin {
    margin-left: 0;
    background: var(--secondary);
    color: var(--primary);
    padding: 10px 20px;
    border-radius: 30px;
  }

  .navbarExpanded ul li.btnlogout {
    margin-left: 0;
  }

  .navbarExpanded ul li.btnlogout button {
    border-radius: 24px;
  }

  .navbarExpanded ul li.btnlogout button {
    background: var(--secondary);
    color: var(--primary);
  }
}
