.organizationWrapper .organization:first-child {
  border-top: none;
}

.organization {
  padding-top: 10px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  border-top: 1px solid var(--primary);
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intervention {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.intervention h1 {
  margin: 0;
}

@media only screen and (max-width: 1180px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .organization {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 0;
  }

  .intervention {
    margin-top: 20px;
  }

  .organization:last-child {
    margin-bottom: 0;
  }
}
