.organizationWrapper .organization:last-child {
  border-bottom: none;
  margin-bottom: 1em;
}

.organizationWrapper .organization h4,
.organizationWrapper .organization .description > h5 {
  margin-top: 0;
}

.organizationWrapper .meta h5 {
  display: none;
}

.organizationWrapper h4 {
  display: block;
}

.organization {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--primary);
  border-left: 2rem solid var(--primary);
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2em;
}

.intervention {
  display: flex;
  flex-direction: column;
}

.intervention h1 {
  margin: 0;
}

@media only screen and (max-width: 1180px) {
  .organizationWrapper h5 {
    display: block;
  }

  .organizationWrapper .organization .description > h5 {
    margin-top: 2em;
  }

  .organizationWrapper h4 {
    display: none;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .organization {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-left: none;
  }

  .meta,
  .description {
    padding-left: 0;
    border-top: none;
  }
  .intervention {
    margin-top: 20px;
  }

  .organization:last-child {
    margin-bottom: 0;
  }
}
