.pageheader {
  padding: 0 5vw;
  min-height: calc(100vh - 300px);
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 80px;
  padding-bottom: 80px;
}

.pageheader.pageheadermeta {
  grid-template-columns: 1fr 2fr;
}

.pageheader.centered,
.pageheader.pageheadermeta.centered {
  grid-template-columns: 1fr;
  text-align: center;
  padding-top: 140px;
}

.pageheader.centered div,
.pageheader.pageheadermeta.centered div {
  align-items: center;
  text-align: center;
}

.pageheader div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pageheader div p {
  max-width: 560px;
  margin-bottom: 0;
  margin-top: 220px;
  white-space: pre-wrap;
}

.pageheader.centered div p,
.pageheader.pageheadermeta.centered div p {
  max-width: 740px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.pageheader.pageheadermeta div:last-child {
  margin-bottom: 20px;
}

.pageheaderlinks li {
  margin-bottom: 6px;
}
@media only screen and (max-width: 1180px) {
  .pageheader.centered,
  .pageheader.pageheadermeta.centered {
    padding-top: 0;
  }

  .pageheader h1 {
    margin-top: 180px;
    font-size: 40px;
    line-height: 50px;
  }

  .pageheader,
  .pageheader.pageheadermeta {
    padding: 0 5vw;
    min-height: 340px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: min-content;
  }

  .pageheader div p {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .pageheader div:last-child,
  .pageheader.pageheadermeta div:last-child {
    margin-bottom: 10px;
  }

  .pageheader.centered div,
  .pageheader.pageheadermeta.centered div {
    align-items: flex-start;
    text-align: left;
  }

  .pageheader.centered div p,
  .pageheader.pageheadermeta.centered div p {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1520px) and (min-width: 1181px) {
  .pageheader {
    padding-bottom: 20px;
  }

  .pageheader h1 {
    font-size: 72px;
    line-height: 110%;
  }
}

@media only screen and (min-width: 1920px) {
  .pageheader {
    max-width: 1714px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
