.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 100px;
  justify-content: space-between;
}

/* Mobile view */
@media only screen and (max-width: 1180px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    row-gap: 40px;
  }
}
