.gridContainer {
  display: grid;
  grid-template-columns: 30vw 50vw;
  justify-content: space-between;
}

.personalInfo {
  grid-column: 1/2;
}

.header {
  grid-column: 1/3;
}

.dataGrid {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 70px auto;
  justify-content: space-between;
}

.dataHeader {
  grid-column: 1/3;
}

.tax {
  grid-column: 1/2;
}

.privacy {
  grid-column: 2/3;
}

.input {
  background: white;
  font-family: "ESKlarheitGrotesk", sans-serif;
  font-size: 16px;
  color: black;
  padding: 10px 18px;
  border: none;
  width: 100%;
}

.button {
  font-family: "ESKlarheitKurrent", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: white;
  padding: 10px;
  width: 100px;
  float: right;
}

.button:hover {
  border-color: grey;
}

.button:active {
  background-color: rgb(230, 230, 230);
  transform: translateY(2px);
}

.checkbox {
  -webkit-transform: scale(2, 2);
  margin: 10px;
}

.checkboxActive {
  -webkit-transform: scale(2, 2);
  margin: 10px;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 1;
}

.input:disabled {
  background-color: rgb(187, 187, 187);
}

/* Mobile view */
@media only screen and (max-width: 900px) {
  .gridContainer {
    grid-template-columns: 100%;
    padding: 7%;
    row-gap: 20px;
  }

  .dataGrid {
    grid-template-columns: auto;
  }

.personalInfo {
  grid-column: 1/1;
}

.header {
  grid-column: 1/1;
}

.dataHeader {
  grid-column: 1/1;
}

.tax {
  grid-column: 1/1;
}

.privacy {
  grid-column: 1/1;
}

}


