.gridContainer {
  display: grid;
  grid-template-columns: 30vw 50vw;
  justify-content: space-between;
}

.personalInfo {
  padding-top: 40px;
  border-top: 1px solid var(--primary);
  grid-column: 1/2;
}

.personalInfo button {
  float: right;
}

.header {
  grid-column: 1/3;
}

.dataGrid {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 70px auto;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-top: 30px;
}

.dataHeader {
  grid-column: 1/3;
}

.tax {
  grid-column: 1/2;
}

.privacy {
  grid-column: 2/3;
}

.input {
  background: var(--primary);
  font-family: "ESKlarheitGrotesk", sans-serif;
  font-size: 16px;
  color: var(--secondary);
  padding: 16px;
  border: none;
  width: 100%;
  max-width: 280px;
}

.checkbox {
  -webkit-transform: scale(2, 2);
  margin: 10px;
}

.checkboxActive {
  -webkit-transform: scale(2, 2);
  margin: 10px;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 1;
}

.input:disabled {
  background-color: rgb(187, 187, 187);
}

/* Mobile view */
@media only screen and (max-width: 900px) {
  .gridContainer {
    grid-template-columns: 100%;
    row-gap: 20px;
  }

  .dataGrid {
    grid-template-columns: auto;
  }

.personalInfo {
  grid-column: 1/1;
}

.header {
  grid-column: 1/1;
}

.dataHeader {
  grid-column: 1/1;
}

.tax {
  grid-column: 1/1;
}

.privacy {
  grid-column: 1/1;
}

}


