.radiobuttonwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.radiobutton {
  opacity: 0;
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
}

.radiobuttonlabel {
  padding-left: 34px;
  padding-top: 2px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  line-height: 100%;
  font-size: 18px;
}

.radiobuttonlabel::before {
  content: "";
  width: 22px;
  height: 22px;
  border: 1px solid var(--primary);
  background: var(--secondary);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.radiobutton + .radiobuttonlabel:after {
  content: "";
  width: 16px;
  height: 16px;
  background: var(--primary);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.7);
  transition: all 100ms;
}

.radiobutton:checked + .radiobuttonlabel:after {
  opacity: 1;
  transform: scale(1);
}

.radiobuttongroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}
