.inverted {
  --primary: #fff;
  --secondary: #000;
  background-color: var(--secondary);
  color: var(--primary);
}

.section__container {
  width: 100%;
  padding: 0 5vw;
  margin-bottom: 50px;
}

.divider {
  border-top: solid black 1px;
}

.section__heading {
  font-size: 16px;
  margin: 0;
  padding-top: 2rem;
}

.section__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
