/** Several rules are hard coded to px units. 
This will need a review.*/

.stepwize__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  font-family: "ESKlarheitKurrent";
  font-style: normal;
  font-weight: 400;
  padding-top: 95px;
  padding-bottom: 180px;
  width: 100%;
  column-gap: 50px;
}

.step__heading {
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: var(--primary) solid 1px;
}

.step__subheading {
  margin-top: 24px;
  margin-bottom: 40px;
}

.step__description {
  max-width: 400px;
  margin-bottom: 0;
}

@media screen and (max-width: 1520px) and (min-width: 1181px) {
  .step__subheading {
    margin-bottom: 20px;
  }

  .stepwize__container {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1180px) {
  .stepwize__container {
    grid-template-columns: auto;
    grid-auto-flow: row;
    padding-top: 0;
    padding-bottom: 0;
  }

  .step {
    margin: 0;
    max-width: auto;
    width: 100%;
  }

  .step__heading {
    border-bottom: 1px solid var(--primary);
    width: 120px;
  }

  .step__description {
    margin-bottom: 30px;
  }

  .stepwize__container {
    width: 100%;
    flex-direction: column;
  }
}
